main {
  width: 70%;
  margin: 0 auto;
}

section {
  margin-bottom: 2rem;
}

section h1 {
  color: #333;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
}
