/* Reset some default styles to ensure consistency across browsers */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Font Family */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f1f1f1;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Header styles */
/* CSS styles specific to the navbar */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #bbe3ff; /* Change the color on hover */
}

/* Main content styles */
main {
  padding: 2rem;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #34495e; /* Dark gray background for footer */
  color: #fff;
}
